@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@font-face {
  font-family: 'gt_walsheim-bold', Helvetica, Arial, sans-serif;
  src: url("../font/gt-walsheim-bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'gt_walsheim-medium', Helvetica, Arial, sans-serif;
  src: url("../font/gt-walsheim-medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }
.section-two {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 100vh; }
  .section-two .slider-track {
    position: relative;
    height: 100%;
    transition: transform 600ms cubic-bezier(0, 0, 0.2, 1); }
    .section-two .slider-track .main-slider {
      position: absolute;
      top: 0;
      width: 100%; }
      .section-two .slider-track .main-slider .slide-img {
        width: 100%;
        height: 100vh;
        position: relative; }
        .section-two .slider-track .main-slider .slide-img:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          background: linear-gradient(-45deg, rgba(84, 84, 84, 0.1), rgba(0, 0, 0, 0.33)); }
        .section-two .slider-track .main-slider .slide-img img {
          height: 100%;
          object-fit: cover;
          object-position: center center; }
          @media (max-width: 767.98px) {
            .section-two .slider-track .main-slider .slide-img img {
              object-position: 20% center; }
              .section-two .slider-track .main-slider .slide-img img.slider-img {
                object-position: 80% center; } }
          @media screen and (max-width: 575.98px) {
            .section-two .slider-track .main-slider .slide-img img {
              object-position: 20% center; } }
      .section-two .slider-track .main-slider .slider {
        bottom: 0;
        position: absolute;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 2; }
        @media (max-width: 767.98px) {
          .section-two .slider-track .main-slider .slider {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            text-align: center;
            position: absolute; } }
        .section-two .slider-track .main-slider .slider .slider-content {
          background: #204498;
          color: #F5F5F5;
          padding: 4.5em;
          max-width: 40%; }
          @media (min-width: 768px) and (max-width: 991.98px) {
            .section-two .slider-track .main-slider .slider .slider-content {
              max-width: 60%; } }
          @media (max-width: 767.98px) {
            .section-two .slider-track .main-slider .slider .slider-content {
              background: none;
              padding: 0;
              max-width: 100%; } }
          @media (min-width: 992px) and (max-width: 1170.98px) {
            .section-two .slider-track .main-slider .slider .slider-content {
              max-width: 50%; } }
          .section-two .slider-track .main-slider .slider .slider-content h2 {
            font-size: calc(20px + 1.6vw);
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 12px;
            font-family: "gt_walsheim-bold", Helvetica, Arial, sans-serif; }
          .section-two .slider-track .main-slider .slider .slider-content p {
            margin-bottom: 2em;
            font-size: calc(14px + 0.2vmin);
            line-height: 23px;
            max-width: 430px; }
            @media (max-width: 767.98px) {
              .section-two .slider-track .main-slider .slider .slider-content p {
                max-width: 80%;
                margin-left: auto;
                margin-right: auto; } }
          .section-two .slider-track .main-slider .slider .slider-content .custom-btn {
            border: none;
            background: transparent;
            text-transform: uppercase;
            color: #fff;
            padding: 0;
            width: 52px;
            font-size: 18px; }
            @media (max-width: 767.98px) {
              .section-two .slider-track .main-slider .slider .slider-content .custom-btn {
                background: #204498;
                color: #fff;
                margin: 0 auto;
                height: auto;
                border: none;
                border-radius: 0;
                padding: 0.5em 2em;
                display: block;
                width: auto; } }
            .section-two .slider-track .main-slider .slider .slider-content .custom-btn img {
              transform: rotate(270deg);
              height: 35px; }
              @media (max-width: 767.98px) {
                .section-two .slider-track .main-slider .slider .slider-content .custom-btn img {
                  width: auto;
                  margin-left: 1em; } }
  .section-two .navigator {
    display: flex;
    margin-bottom: 3em;
    position: absolute;
    bottom: 0;
    right: 5%; }
    @media (max-width: 767.98px) {
      .section-two .navigator {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center; } }
    .section-two .navigator .navigator-link {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #707070;
      margin-left: 40px;
      position: relative; }
      .section-two .navigator .navigator-link.link-active {
        background: #fff;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        position: relative; }
        .section-two .navigator .navigator-link.link-active:after {
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid #fff;
          top: -7px;
          left: -7px;
          transition: all 0.5s; }
      .section-two .navigator .navigator-link:first-child {
        margin-left: 0; }

.main-content .about-img {
  position: relative;
  height: 100%;
  background: #727272; }
  .main-content .about-img .blank-div {
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    right: 0;
    background: #204498; }
  .main-content .about-img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(-45deg, rgba(84, 84, 84, 0.1), rgba(0, 0, 0, 0.33)); }
  .main-content .about-img img {
    height: 100%;
    object-fit: cover;
    object-position: center center; }
.main-content .section-start {
  background: #F7F7F7;
  position: relative; }
  @media (max-width: 767.98px) {
    .main-content .section-start {
      margin-bottom: 2rem; } }
  .main-content .section-start.custom-section-padding {
    padding-top: 5rem; }
  .main-content .section-start .card-details {
    background: #fff;
    padding: 4rem 7rem;
    width: 85%;
    margin: 0 auto;
    margin-top: -5rem;
    border-top: 10px solid #204498; }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .main-content .section-start .card-details {
        padding: 2.5rem 3rem; } }
    @media (max-width: 767.98px) {
      .main-content .section-start .card-details {
        padding: 2rem;
        width: 90%;
        text-align: center;
        margin-bottom: 2rem; } }
    @media screen and (max-width: 575.98px) {
      .main-content .section-start .card-details {
        padding: 1.5rem;
        width: 100%;
        margin-top: 0; } }
    .main-content .section-start .card-details .short-title {
      color: #54C3C5;
      text-transform: uppercase;
      font-size: calc(13px + 0.3vw);
      letter-spacing: 1.4px; }
    .main-content .section-start .card-details .long-title {
      font-size: calc(16px + 1.3vw);
      color: #204498;
      margin: 0.5em 0;
      padding-left: 1.6em;
      font-family: "gt_walsheim-bold", Helvetica, Arial, sans-serif;
      position: relative; }
      .main-content .section-start .card-details .long-title:before {
        content: '';
        position: absolute;
        top: 50%;
        width: 3%;
        height: 2px;
        background: #204498;
        left: 0;
        transform: translateY(-50%); }
      @media (max-width: 767.98px) {
        .main-content .section-start .card-details .long-title {
          padding-left: 0; } }
    .main-content .section-start .card-details .desc {
      color: #575757;
      font-size: calc(14px + 0.2vw);
      line-height: 30px;
      padding-left: 2em; }
      @media (max-width: 767.98px) {
        .main-content .section-start .card-details .desc {
          padding-left: 0;
          line-height: 25px; } }
  .main-content .section-start .our-strength {
    position: relative; }
    .main-content .section-start .our-strength .strength-title {
      margin-bottom: 8rem;
      font-size: calc(16px + 0.8vw);
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      color: #B4B4B4;
      text-align: center; }
      @media (max-width: 767.98px) {
        .main-content .section-start .our-strength .strength-title {
          margin-bottom: 2.5rem; } }
    .main-content .section-start .our-strength picture {
      position: relative;
      overflow: hidden;
      width: 75%; }
      .main-content .section-start .our-strength picture:after {
        content: "";
        width: 100px;
        height: 100px;
        background: #54C3C5;
        position: absolute;
        left: 0;
        bottom: -36px; }
      @media (max-width: 767.98px) {
        .main-content .section-start .our-strength picture {
          width: 90%;
          margin: 0 auto; }
          .main-content .section-start .our-strength picture:after {
            display: none; } }
      .main-content .section-start .our-strength picture img {
        width: 100%; }
        .main-content .section-start .our-strength picture img:before {
          content: ''; }
        @media (min-width: 992px) and (max-width: 1170.98px) {
          .main-content .section-start .our-strength picture img {
            position: absolute;
            bottom: 0; } }
        @media (max-width: 767.98px) {
          .main-content .section-start .our-strength picture img {
            width: 100%; } }
        @media (min-width: 768px) and (max-width: 991.98px) {
          .main-content .section-start .our-strength picture img {
            position: absolute;
            bottom: 0; } }
      .main-content .section-start .our-strength picture .overlay-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f7f7f7; }
    .main-content .section-start .our-strength .details {
      width: 75%; }
      @media (max-width: 767.98px) {
        .main-content .section-start .our-strength .details {
          width: 90%;
          margin: 0 auto;
          text-align: center;
          margin-top: 2rem; } }
      .main-content .section-start .our-strength .details p {
        color: #555658;
        font-size: calc(13px + 0.2vw);
        line-height: 27px; }
        @media (min-width: 768px) and (max-width: 991.98px) {
          .main-content .section-start .our-strength .details p:last-child {
            display: none; } }
        @media (max-width: 767.98px) {
          .main-content .section-start .our-strength .details p {
            line-height: 20px; }
            .main-content .section-start .our-strength .details p:last-child {
              display: none; } }
.main-content .video-container {
  width: 85%;
  margin: 5.5rem auto;
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 51%; }
  .main-content .video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  @media (max-width: 767.98px) {
    .main-content .video-container {
      width: 90%;
      margin-bottom: 2rem;
      margin-top: 2rem; } }
  .main-content .video-container video {
    width: 100%; }
  .main-content .video-container .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f7f7f7; }
.main-content footer {
  background: #13295D;
  padding: 3rem 0; }
  .main-content footer .footer-content {
    width: 90%;
    margin: 0 auto; }
    .main-content footer .footer-content .footer-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 2.5rem;
      border-bottom: 1px solid #fff; }
      @media (max-width: 767.98px) {
        .main-content footer .footer-content .footer-top {
          flex-direction: column;
          justify-content: center; } }
      @media (max-width: 767.98px) {
        .main-content footer .footer-content .footer-top .footer-logo {
          margin-bottom: 20px; } }
      .main-content footer .footer-content .footer-top .footer-logo img {
        width: 11vw;
        min-width: 110px;
        max-width: 160px; }
      .main-content footer .footer-content .footer-top .footer-navigation > ul {
        display: flex;
        margin: 0;
        flex-wrap: wrap; }
        @media screen and (max-width: 575.98px) {
          .main-content footer .footer-content .footer-top .footer-navigation > ul {
            justify-content: center;
            align-items: center; } }
        .main-content footer .footer-content .footer-top .footer-navigation > ul > li {
          margin-right: 1.3em; }
          .main-content footer .footer-content .footer-top .footer-navigation > ul > li:last-child {
            margin-right: 0; }
          .main-content footer .footer-content .footer-top .footer-navigation > ul > li > a {
            color: #fff;
            font-size: calc(14px + 0.2vw); }
    .main-content footer .footer-content .footer-bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 2.5rem;
      color: #727272; }
      @media screen and (max-width: 575.98px) {
        .main-content footer .footer-content .footer-bottom {
          flex-direction: column;
          align-items: center; } }
      .main-content footer .footer-content .footer-bottom p {
        font-size: 14px;
        padding: 0;
        color: #fff; }
        @media screen and (max-width: 575.98px) {
          .main-content footer .footer-content .footer-bottom p {
            text-align: center; } }
      .main-content footer .footer-content .footer-bottom span {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1.1px;
        color: #fff; }
        .main-content footer .footer-content .footer-bottom span a {
          color: #fff; }

.concern {
  width: 85%;
  margin: 0 auto;
  border-right: 1px solid #fff; }
  .concern:last-child {
    border-right: 0px solid; }
  .concern .concern-details {
    position: relative;
    overflow: hidden; }
    .concern .concern-details .concern-overlay-reveal {
      width: 100%;
      background: #f7f7f7;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0; }
    .concern .concern-details .concern-smallImg-reveal {
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
      width: 100%; }
    .concern .concern-details .concern-content {
      background: #204498;
      width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      bottom: 0;
      padding: 1.2rem 2rem;
      left: 35px;
      transition: all 1s ease-out; }
      @media screen and (max-width: 575.98px) {
        .concern .concern-details .concern-content {
          padding: 0.6rem 2rem; } }
      .concern .concern-details .concern-content a {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .concern .concern-details .concern-content a h2 {
          color: #fff;
          font-size: calc(15px + 0.25vw);
          text-transform: uppercase;
          margin-right: 2rem;
          font-family: "gt_walsheim-bold", Helvetica, Arial, sans-serif; }
        .concern .concern-details .concern-content a > img {
          width: 0.6rem; }
          @media screen and (max-width: 575.98px) {
            .concern .concern-details .concern-content a > img {
              width: 0.4rem; } }
      .concern .concern-details .concern-content p {
        color: #fff; }
      .concern .concern-details .concern-content .block-reveals {
        display: none; }
        .concern .concern-details .concern-content .block-reveals .custom-btn {
          border: none;
          background: transparent;
          text-transform: uppercase;
          color: #fff;
          padding: 0;
          width: 52px;
          font-size: 14px; }
          .concern .concern-details .concern-content .block-reveals .custom-btn > img {
            transform: rotate(270deg);
            width: 5px;
            margin-left: 1.2rem; }
        .concern .concern-details .concern-content .block-reveals p {
          margin-top: 1em;
          line-height: 25px;
          font-size: calc(14px + 0.12vw); }
      .concern .concern-details .concern-content:hover > .block-reveals {
        display: inline-block;
        height: 100%;
        transition: all 1s ease-out; }
      .concern .concern-details .concern-content:hover > a > img {
        display: none; }

.industries {
  height: 100%;
  margin-top: 2rem;
  position: relative; }
  @media (max-width: 1024px) {
    .industries {
      margin-top: 0; } }
  .industries .industries-container {
    width: 90%;
    margin: 0 auto; }
    @media (max-width: 1024px) {
      .industries .industries-container .custom-grid1 {
        flex: 0 0 20%;
        max-width: 20%; } }
    @media (max-width: 1024px) {
      .industries .industries-container .custom-grid2 {
        flex: 0 0 80%;
        max-width: 80%; } }
    @media (max-width: 1024px) {
      .industries .industries-container .custom-grid3 {
        flex: 0 0 100%;
        max-width: 100%;
        order: -1;
        z-index: 3; } }
    .industries .industries-container .ind-navbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%; }
      .industries .industries-container .ind-navbar .ind-nav-item {
        margin-bottom: 1.5rem; }
        @media (max-width: 1024px) {
          .industries .industries-container .ind-navbar .ind-nav-item {
            margin-bottom: 1rem; } }
        .industries .industries-container .ind-navbar .ind-nav-item .ind-nav-link {
          color: #646464;
          text-transform: uppercase;
          font-weight: 500;
          font-size: calc(14px + 0.05vw); }
          @media (max-width: 1024px) {
            .industries .industries-container .ind-navbar .ind-nav-item .ind-nav-link {
              text-transform: capitalize; } }
        .industries .industries-container .ind-navbar .ind-nav-item .ind-nav-link-active {
          color: #204498;
          position: relative;
          transition: all 0.3ms ease; }
          .industries .industries-container .ind-navbar .ind-nav-item .ind-nav-link-active:before {
            content: '';
            width: 20px;
            height: 2px;
            background: #204498;
            position: absolute;
            left: -31px;
            top: 50%;
            transition: width 0.7ms ease-in; }
    .industries .industries-container .column-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media (max-width: 1024px) {
        .industries .industries-container .column-wrapper {
          height: 100%;
          justify-content: flex-end; } }
      .industries .industries-container .column-wrapper .ind-content {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .industries .industries-container .column-wrapper .ind-content h2 {
          color: #204498;
          text-transform: uppercase;
          font-weight: 600;
          font-size: calc(20px + 1.6vw);
          font-family: "gt_walsheim-bold", Helvetica, Arial, sans-serif; }
        .industries .industries-container .column-wrapper .ind-content p {
          color: #575757;
          font-size: calc(14px + 0.1vw);
          line-height: 23px;
          font-weight: 400; }
    .industries .industries-container .ind-img {
      height: 75vh;
      justify-content: center;
      display: flex;
      flex-direction: column;
      width: 100%; }
      @media (max-width: 1024px) {
        .industries .industries-container .ind-img {
          height: 40vh; } }
      .industries .industries-container .ind-img picture {
        height: 100%; }
        .industries .industries-container .ind-img picture img {
          height: 100%;
          object-fit: cover;
          object-position: center center; }
  .industries .sub-company {
    background: #204498;
    max-width: 45%;
    margin: 0 auto;
    position: absolute;
    left: -22%;
    right: 0;
    bottom: 15%;
    height: 15%; }
    @media (max-width: 1024px) {
      .industries .sub-company {
        left: 9%;
        height: 12%;
        max-width: 70%;
        bottom: 12%;
        z-index: 1; } }
    .industries .sub-company .concerns-wrapper {
      display: none;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
      @media (max-width: 767.98px) {
        .industries .sub-company .concerns-wrapper {
          flex-wrap: wrap; } }
      .industries .sub-company .concerns-wrapper a p {
        color: #fff;
        padding: 0 1.2rem;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
        text-align: center;
        font-family: "gt_walsheim-medium", Helvetica, Arial, sans-serif; }
        .industries .sub-company .concerns-wrapper a p:nth-child(2) {
          border-left: 1px solid #fff;
          border-right: 1px solid #fff; }
    .industries .sub-company .active,
    .industries .sub-company .after,
    .industries .sub-company .before {
      display: flex; }

.scroll-more {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -33px;
  bottom: 25%;
  align-items: center; }
  .scroll-more a {
    transform: rotate(270deg);
    margin-bottom: 5rem;
    text-transform: uppercase;
    font-size: calc(14px + 0.2vw);
    color: #a2a2a2;
    font-weight: 500; }
    @media (max-width: 1024px) {
      .scroll-more a {
        font-size: 14px; } }
  .scroll-more img {
    height: 50px;
    width: 50px; }

.text-col {
  height: 75vh; }
  @media (max-width: 1024px) {
    .text-col {
      height: 35vh; } }

#text-column .main .header-wrapper {
  position: relative;
  min-height: 42px;
  padding-bottom: 2.5em;
  display: flex;
  align-items: center; }
  @media (max-width: 1024px) {
    #text-column .main .header-wrapper {
      padding-bottom: 1.5em; } }
  #text-column .main .header-wrapper h2 {
    position: absolute;
    display: none; }
  #text-column .main .header-wrapper .active,
  #text-column .main .header-wrapper .after,
  #text-column .main .header-wrapper .before {
    display: initial; }
#text-column .main .paragraph-wrapper {
  height: 200px;
  position: relative;
  overflow: hidden; }
  #text-column .main .paragraph-wrapper p {
    position: absolute;
    display: none;
    padding-right: 10%; }
  #text-column .main .paragraph-wrapper .active,
  #text-column .main .paragraph-wrapper .after,
  #text-column .main .paragraph-wrapper .before {
    display: initial; }

#img-column {
  height: 75vh; }
  @media (max-width: 1024px) {
    #img-column {
      height: 40vh; } }
  #img-column .img-wrapper {
    height: 100%;
    position: relative;
    background: #eee; }
    #img-column .img-wrapper .ind-img {
      position: absolute;
      display: none; }
    #img-column .img-wrapper .active,
    #img-column .img-wrapper .after,
    #img-column .img-wrapper .before {
      display: block; }

.innerpage-container {
  height: 100%;
  overflow-y: scroll; }
  .innerpage-container:after {
    content: '';
    left: 20%;
    top: 0;
    width: 1px;
    height: 100%;
    position: absolute;
    background: #D9D9D9;
    z-index: -1; }
  .innerpage-container .concern-container {
    width: 90%;
    margin: 0 auto;
    position: relative; }
    .innerpage-container .concern-container .nav {
      margin-top: 8rem;
      position: fixed; }
      @media (max-width: 767.98px) {
        .innerpage-container .concern-container .nav {
          position: relative;
          display: flex;
          flex-direction: row !important;
          justify-content: center;
          display: none; } }
      .innerpage-container .concern-container .nav .nav-item {
        padding-bottom: 1rem; }
        .innerpage-container .concern-container .nav .nav-item .nav-link {
          color: #646464;
          text-transform: uppercase; }
    @media (min-width: 768px) and (max-width: 1170px) {
      .innerpage-container .concern-container .custom-3 {
        display: none; } }
    @media (min-width: 768px) and (max-width: 1170px) {
      .innerpage-container .concern-container .custom-12 {
        flex: 0 0 100%;
        max-width: 100%; } }
  .innerpage-container .concern-header {
    width: 100%;
    position: relative;
    margin-bottom: 8em; }
    @media screen and (max-width: 575.98px) {
      .innerpage-container .concern-header {
        margin-bottom: 1.5rem; } }
    .innerpage-container .concern-header picture img {
      height: 100%; }
    .innerpage-container .concern-header .card {
      width: 30rem;
      background: #204498;
      color: #fff;
      position: absolute;
      bottom: -4rem;
      left: 2.5rem;
      border: 0px;
      border-radius: 0;
      padding: 1rem; }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .innerpage-container .concern-header .card {
          width: 85%;
          padding: 0.5rem;
          text-align: center; } }
      @media (max-width: 767.98px) {
        .innerpage-container .concern-header .card {
          width: 80%;
          padding: 0.5rem;
          text-align: center;
          left: 0;
          right: 0;
          margin: 0 auto; } }
      @media screen and (max-width: 575.98px) {
        .innerpage-container .concern-header .card {
          bottom: 0;
          width: 100%; } }
      @media screen and (max-width: 575.98px) {
        .innerpage-container .concern-header .card .card-body {
          padding: 0.5rem; } }
      .innerpage-container .concern-header .card .sub-concern-header .sub-concern-title {
        font-family: "gt_walsheim-bold", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        font-size: calc(14px + 0.6vw);
        margin-bottom: 10px; }
        @media (min-width: 768px) and (max-width: 991.98px) {
          .innerpage-container .concern-header .card .sub-concern-header .sub-concern-title {
            font-size: 1.3rem; } }
        @media (max-width: 767.98px) {
          .innerpage-container .concern-header .card .sub-concern-header .sub-concern-title {
            font-size: 1rem; } }
        @media screen and (max-width: 575.98px) {
          .innerpage-container .concern-header .card .sub-concern-header .sub-concern-title {
            font-size: 0.8rem;
            margin-bottom: 0; } }
      .innerpage-container .concern-header .card .sub-concern-header .sub-concern-text {
        margin-bottom: 0;
        font-size: calc(14px + 0.3vw);
        line-height: 1.4; }
        @media (min-width: 768px) and (max-width: 991.98px) {
          .innerpage-container .concern-header .card .sub-concern-header .sub-concern-text {
            font-size: 16px; } }
        @media screen and (max-width: 575.98px) {
          .innerpage-container .concern-header .card .sub-concern-header .sub-concern-text {
            display: none; } }
  .innerpage-container .concern-details {
    width: 85%;
    margin: 0 auto; }
    .innerpage-container .concern-details p {
      font-size: calc(14px + 0.3vw);
      color: #919191;
      line-height: 1.6;
      font-family: "gt_walsheim-bold", Helvetica, Arial, sans-serif; }
      .innerpage-container .concern-details p:last-child {
        margin-bottom: 8rem; }
        @media (max-width: 767.98px) {
          .innerpage-container .concern-details p:last-child {
            margin-bottom: 0; } }
        .innerpage-container .concern-details p:last-child.last-child-margin {
          margin-bottom: 3rem; }
          @media (max-width: 767.98px) {
            .innerpage-container .concern-details p:last-child.last-child-margin {
              margin-bottom: 0; } }
      @media (max-width: 767.98px) {
        .innerpage-container .concern-details p {
          margin-bottom: 2.5rem; } }
      @media screen and (max-width: 575.98px) {
        .innerpage-container .concern-details p {
          margin-bottom: 1.5rem; } }
  .innerpage-container .more-desc .concern-img {
    position: relative;
    height: 100%; }
    .innerpage-container .more-desc .concern-img picture img {
      height: 100%;
      object-fit: cover;
      object-position: center center; }
    .innerpage-container .more-desc .concern-img .img-name {
      background: #204498;
      padding: 1.6rem 0;
      color: #fff;
      width: 25%;
      min-width: 200px;
      text-align: center;
      font-family: "gt_walsheim-medium", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      position: absolute;
      top: 36px; }
      .innerpage-container .more-desc .concern-img .img-name.left-one {
        right: -36px; }
      .innerpage-container .more-desc .concern-img .img-name.right-one {
        left: -36px; }
  .innerpage-container .more-desc .desc-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%; }
    @media (max-width: 767.98px) {
      .innerpage-container .more-desc .desc-text {
        padding: 2rem 0; } }
    .innerpage-container .more-desc .desc-text.left-one {
      padding-right: 2.5rem; }
      @media (max-width: 767.98px) {
        .innerpage-container .more-desc .desc-text.left-one {
          padding-right: 0; } }
    .innerpage-container .more-desc .desc-text.right-one {
      padding-left: 2.5rem; }
      @media (max-width: 767.98px) {
        .innerpage-container .more-desc .desc-text.right-one {
          padding-left: 0; } }
    .innerpage-container .more-desc .desc-text p {
      color: #4e4d4d;
      font-size: calc(14px + 0.2vw);
      line-height: 1.65;
      font-family: "gt_walsheim-bold", Helvetica, Arial, sans-serif; }
  .innerpage-container .more-desc .gray-bg2 {
    width: 80%;
    height: calc(6.8vh);
    background: lightgray;
    margin-top: -4em;
    margin-left: auto; }
    @media (max-width: 767.98px) {
      .innerpage-container .more-desc .gray-bg2 {
        display: none; } }
  .innerpage-container .more-desc .gray-bg {
    width: 80%;
    height: calc(20vh - 25px);
    background: lightgray;
    margin-top: -4em; }
    .innerpage-container .more-desc .gray-bg.zrc-bg {
      margin-top: -9em;
      height: calc(25vh - 25px); }
    @media (max-width: 767.98px) {
      .innerpage-container .more-desc .gray-bg {
        display: none; } }
  .innerpage-container .more-desc .int-some-text {
    color: #4e4d4d;
    font-size: calc(13px + 0.3vw);
    margin: 4rem 0;
    line-height: 1.5;
    font-weight: 300; }
  .innerpage-container .more-desc .concern-middle {
    margin-bottom: 8rem; }
    @media (max-width: 767.98px) {
      .innerpage-container .more-desc .concern-middle {
        margin-bottom: 0; } }
  .innerpage-container .more-desc .gray-bg-full {
    background: #f7f7f7;
    width: 100%;
    height: 70%;
    position: absolute;
    top: 22%;
    z-index: -1;
    left: 0%;
    right: 0%; }
  .innerpage-container .more-desc .gray-big-bg {
    background: #f2f2f2;
    width: 80%;
    height: 70%;
    position: absolute;
    top: 18%;
    z-index: -1;
    left: -4%; }
    @media (max-width: 767.98px) {
      .innerpage-container .more-desc .gray-big-bg {
        display: none; } }
  .innerpage-container .more-desc .mb-custom {
    margin-bottom: 4rem; }

@media (max-width: 767.98px) {
  .custom-reverse {
    display: flex;
    flex-direction: column-reverse; } }

.section-start .contact-form {
  width: 85%;
  margin: 0 auto;
  background: #EBEBEB;
  padding: 4rem 7rem; }
  @media (max-width: 767.98px) {
    .section-start .contact-form {
      padding: 4rem; } }
  @media screen and (max-width: 575.98px) {
    .section-start .contact-form {
      padding: 4rem 1.5rem; } }
  .section-start .contact-form .check-control {
    margin-bottom: 3.5rem; }
    .section-start .contact-form .check-control .custom-style {
      margin-bottom: 1.5rem;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px; }
    .section-start .contact-form .check-control .custom-control-label {
      padding-left: 20px; }
    .section-start .contact-form .check-control .custom-control-label::before {
      top: 0rem;
      background-color: #D1D1D1; }
    .section-start .contact-form .check-control .custom-control-label::after {
      top: 0; }
  .section-start .contact-form label[for="fullname"],
  .section-start .contact-form label[for="company"],
  .section-start .contact-form label[for="email"],
  .section-start .contact-form label[for="phone"],
  .section-start .contact-form label[for="comment"] {
    font-family: "gt_walsheim-bold", Helvetica, Arial, sans-serif; }
  .section-start .contact-form .form-control {
    border-radius: 0;
    border: 1px solid #d9d9d9; }
  .section-start .contact-form .custom-form-btn {
    background: #204498;
    border-radius: 0;
    text-transform: uppercase;
    padding: 1rem 1.6rem;
    color: #54C3C5;
    display: flex;
    align-items: center; }
    .section-start .contact-form .custom-form-btn img {
      width: 30px;
      height: 100%;
      margin-left: 14px; }
.section-start .rg-map-area {
  position: relative;
  background: #fff;
  padding: 2rem 0;
  margin-top: 4em; }
  .section-start .rg-map-area .map-overlay {
    position: absolute;
    top: 0;
    background: #fff;
    bottom: 0;
    width: 100%;
    z-index: 1;
    height: 100%; }
  .section-start .rg-map-area .map-address {
    width: 40%;
    background: #204498;
    max-width: 450px;
    padding: 2rem;
    color: #fff;
    position: absolute;
    bottom: 33px;
    left: 15%; }
    @media (max-width: 767.98px) {
      .section-start .rg-map-area .map-address {
        width: 100%;
        max-width: 300px;
        left: 7.8%; } }
    @media screen and (max-width: 575.98px) {
      .section-start .rg-map-area .map-address {
        display: none; } }
    .section-start .rg-map-area .map-address h4 {
      text-transform: uppercase; }
    .section-start .rg-map-area .map-address > p {
      margin: 20px 0;
      font-weight: 300;
      line-height: 1.6; }
    .section-start .rg-map-area .map-address span {
      display: flex;
      font-weight: 500; }
      .section-start .rg-map-area .map-address span > p {
        margin-left: 10px;
        font-weight: 300; }
.section-start #rg-map {
  display: block;
  overflow: hidden;
  width: 85%;
  margin: 0 auto;
  height: 54vh; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  line-height: 1;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  height: 100%;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

ol li,
ul li {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

.box2 {
  width: 50%;
  height: 100%;
  background: #54C3C5;
  transform: translateY(100%); }

#overlay {
  background: #204498;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 9999; }
  #overlay > svg {
    width: 250px; }
    @media only screen and (max-width: 768px) {
      #overlay > svg {
        width: 170px; } }
    @media only screen and (max-width: 576px) {
      #overlay > svg {
        width: 120px; } }

.template {
  overflow: hidden;
  position: relative; }
  .template .overlay-loader {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    bottom: 0;
    height: 100%;
    overflow: hidden; }
    .template .overlay-loader .overlay-loader1 {
      height: 0%;
      width: 100%;
      background: lightgray;
      position: relative;
      z-index: 4; }
    .template .overlay-loader .overlay-loader2 {
      height: 0%;
      width: 100%;
      background: #cececd;
      position: relative;
      z-index: 4; }

.main-content.custom-overflow {
  overflow: hidden; }
.main-content.industries-section {
  height: 100vh;
  overflow: hidden; }
  .main-content.industries-section:after {
    content: '';
    left: 16.5%;
    top: 0;
    width: 1px;
    height: 100%;
    position: absolute;
    background: #D9D9D9; }
    @media (max-width: 1024px) {
      .main-content.industries-section:after {
        left: 19.5%;
        top: 43%;
        height: 57%;
        bottom: 0; } }
.main-content .header {
  position: absolute;
  right: 0;
  left: 0;
  height: 120px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  top: 0;
  z-index: 3;
  transition: height 0.3s; }
  .main-content .header.another-header {
    position: relative; }
  @media screen and (max-width: 575.98px) {
    .main-content .header {
      height: 100px; } }
  .main-content .header nav {
    align-items: center;
    width: 90%;
    margin: 0 auto; }
    .main-content .header nav .navbar-nav {
      height: 100px;
      display: flex;
      align-items: center; }
      @media (max-width: 767.98px) {
        .main-content .header nav .navbar-nav {
          display: none;
          position: absolute;
          right: 0;
          justify-content: center;
          text-align: center;
          background: #204498;
          height: 100vh;
          width: 50%;
          top: -37px;
          right: -37px;
          z-index: -1; } }
      @media screen and (max-width: 575.98px) {
        .main-content .header nav .navbar-nav {
          display: none;
          position: absolute;
          right: 0;
          justify-content: center;
          text-align: center;
          background: #204498;
          height: 100vh;
          width: 100%; } }
      .main-content .header nav .navbar-nav .nav-item {
        height: 60%;
        display: flex;
        align-items: center;
        padding: 0 1em;
        width: 100%; }
        .main-content .header nav .navbar-nav .nav-item:last-child {
          padding-right: 0px; }
        .main-content .header nav .navbar-nav .nav-item:first-child {
          padding-left: 0px; }
        @media (max-width: 767.98px) {
          .main-content .header nav .navbar-nav .nav-item {
            height: auto;
            padding: 0;
            justify-content: center; } }
        .main-content .header nav .navbar-nav .nav-item .nav-link {
          color: #fff;
          font-weight: 500;
          font-size: 1.2em;
          padding-right: 0;
          padding-left: 0;
          position: relative; }
          .main-content .header nav .navbar-nav .nav-item .nav-link.ind-nav {
            color: #1D1E1F;
            position: relative; }
            .main-content .header nav .navbar-nav .nav-item .nav-link.ind-nav:after {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              width: 0;
              content: ".";
              color: transparent;
              background: black;
              height: 2px;
              top: 42px; }
            .main-content .header nav .navbar-nav .nav-item .nav-link.ind-nav:hover:after {
              width: 100%; }
          .main-content .header nav .navbar-nav .nav-item .nav-link:after, .main-content .header nav .navbar-nav .nav-item .nav-link:before {
            transition: all 0.5s; }
          .main-content .header nav .navbar-nav .nav-item .nav-link:after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0;
            content: ".";
            color: transparent;
            background: #fff;
            height: 2px;
            top: 41px; }
          .main-content .header nav .navbar-nav .nav-item .nav-link:hover:after {
            width: 100%; }
    .main-content .header nav .brand-logo img {
      width: 11vw;
      min-width: 110px;
      max-width: 140px; }
    .main-content .header nav #navbar-toggle {
      width: 40px;
      height: 30px;
      position: relative;
      cursor: pointer;
      display: none; }
      @media (max-width: 767.98px) {
        .main-content .header nav #navbar-toggle {
          display: block; } }
      @media screen and (max-width: 575.98px) {
        .main-content .header nav #navbar-toggle {
          display: block; } }
      .main-content .header nav #navbar-toggle > span {
        width: 33px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        right: 0; }
        .main-content .header nav #navbar-toggle > span:nth-child(1) {
          top: 0; }
        .main-content .header nav #navbar-toggle > span:nth-child(2) {
          top: 10px; }
        .main-content .header nav #navbar-toggle > span:nth-child(3) {
          top: 20px; }
.main-content .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
  overflow: hidden; }
  .main-content .wrapper .background-img {
    width: 100%;
    height: 100vh;
    position: relative; }
    .main-content .wrapper .background-img:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: linear-gradient(-45deg, rgba(84, 84, 84, 0.1), rgba(0, 0, 0, 0.33)); }
    .main-content .wrapper .background-img img {
      height: 100%;
      object-fit: cover;
      object-position: center center; }
      @media (max-width: 767.98px) {
        .main-content .wrapper .background-img img {
          object-position: 20% center; }
          .main-content .wrapper .background-img img.slider-img {
            object-position: 80% center; } }
      @media screen and (max-width: 575.98px) {
        .main-content .wrapper .background-img img {
          object-position: 20% center; } }
  .main-content .wrapper .content {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    flex-wrap: wrap;
    position: absolute;
    left: 0%;
    right: 0;
    bottom: 0;
    z-index: 2; }
    @media (max-width: 767.98px) {
      .main-content .wrapper .content {
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute; } }
    @media screen and (max-width: 575.98px) {
      .main-content .wrapper .content {
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute; } }
    .main-content .wrapper .content .hero-text {
      color: #fff;
      margin-bottom: 3.3em; }
      @media (max-width: 767.98px) {
        .main-content .wrapper .content .hero-text {
          margin-bottom: 0; } }
      .main-content .wrapper .content .hero-text .title {
        font-weight: 600;
        text-transform: capitalize;
        font-size: calc(16px + 4vmin);
        font-family: "gt_walsheim-bold", Helvetica, Arial, sans-serif;
        margin-bottom: 10px; }
      .main-content .wrapper .content .hero-text .sub-text {
        font-weight: 500;
        font-size: calc(14px + 0.9vmin);
        width: 56%;
        margin-left: auto;
        margin-bottom: 0;
        line-height: 30px;
        font-family: "Roboto", sans-serif;
        font-weight: 400; }
        @media (max-width: 767.98px) {
          .main-content .wrapper .content .hero-text .sub-text {
            margin: auto;
            width: 100%; } }
        @media screen and (max-width: 575.98px) {
          .main-content .wrapper .content .hero-text .sub-text {
            margin: auto;
            width: 100%; } }
    .main-content .wrapper .content .scroll-btn {
      background: #204498;
      height: 220px;
      padding: 1.5em 1.1em;
      padding-top: 2em; }
      @media (max-width: 767.98px) {
        .main-content .wrapper .content .scroll-btn {
          height: 150px;
          bottom: 0;
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center; } }
      @media screen and (max-width: 575.98px) {
        .main-content .wrapper .content .scroll-btn {
          height: 150px;
          bottom: 0;
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center; } }
      .main-content .wrapper .content .scroll-btn p {
        color: #fff;
        text-align: center;
        font-size: 14px; }
        @media (min-width: 768px) and (max-width: 991.98px) {
          .main-content .wrapper .content .scroll-btn p {
            margin-bottom: 0; } }
      .main-content .wrapper .content .scroll-btn img {
        height: 90px; }
        @media (min-width: 768px) and (max-width: 991.98px) {
          .main-content .wrapper .content .scroll-btn img {
            height: 64px;
            margin-top: 15px; } }

.fp-controlArrow {
  display: none !important; }

/*# sourceMappingURL=style.css.map */
